.topnavbar 
{
    background-color: #2B3445;
    padding: 13px;
}
.leftcontent
{
    display: flex;
    gap:2px;
}
.leftcontent p 
{
    margin:0px 2px;
    color:#fff;
    font-size: 16px;
    padding:2px  10px 2px 6px;

}
.leftcontent .hot--p
{
 
    background-color: #D23F57;
    color:#fff;
   
    padding: 2px 10px;
    border-radius: 25px;

}
.searchbar--wrapper
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding:0px 30px;
    margin-top:10px;
    border-radius:30px;
}
.search--here
{
    padding:10px;
    display: flex;
}
.search--here input {
    padding:5px 7px;
    border:none;
    background-color: transparent;
}
.searchcategory p
{
    margin:1px;
}
.searchcategory 
{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.leftcontent--icon 
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:1rem;
    padding:20px 0px;
    position: relative;
    max-width: 200px;

}

.menu--category--button 
{
    display: flex;
    justify-content: space-around;
    background-color: #e8f0f9;
    padding:8px 12px;
}
.menu--category--button p 
{
    margin:0px;
}
.menu--category--button select{
    padding:8px 12px;
    border:none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;

   
  
    cursor: pointer;
    outline: none;

}
.menu--category--button select:hover{
    border:none;

}
.menu--category--button select option 
{

    
    
   

}

.navmenu--ul
{
    display: flex;
    justify-content: space-evenly;
}
.navmenu--ul li 
{
    text-decoration: none;
    list-style: none;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color:#2B3445;
}
.logoimg
{


  
   display: flex;
   justify-content: flex-start;
  padding: 20px 0px;
}
.logoimage
{
    height: 50px;
   
    
}
.leftcontent--icon dialog
{
    position: absolute;

    background-color: #e0e5f1;
    border:none;
    width: 100%;
    text-align: center;
    align-items: center;
  top:72%;
  height: 100%;
  left:22%
    
    
}
.leftcontent--icon button{
    border:none;
    background-color: transparent;
}
.leftcontent--icon dialog div
{
    
    display: flex;
    flex-direction: column; 
    gap:16px; 
}
.leftcontent--icon dialog div button{
    background: transparent;
    border:none;
    font-size: 14px;
    font-weight: 600;
   
}
