

.card {
    max-width: 300px;
  
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
  }

  .card img {
    width: 100%;
    height: auto;
    background-color: #E3E9EF;
    padding:5px 10px
 
  }

  .card-content {
   padding: 5px 20px 15px 10px;
   text-align: center;
  }

  .card-title {
    font-size: 1.2rem;
    margin:1px;
    line-height: 2
    ;
   

  }

  .card-text {
    font-size: 0.9rem;
    color: #555;
    margin:1px;
  }
  .iconsandprice
  {
    display: flex;
    justify-content: space-between;
    padding:0px 10px;
  }
  .iconsandprice p 
  {
    margin:1px;
    color:red;
    font-weight: 700;
  }
  .swiper--container
  {
    padding:30px 0px;
  }